@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

section {
    position: relative;
    background: #161623;
    min-height: 100vh;
    overflow: hidden;
    display: grid;
    place-items: center;
}

section::before {
    content: "";
    position: absolute;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: linear-gradient(#ffc107, #e91e63);
    transform: translate(-250px, -120px);
}

section::after {
    content: "";
    position: absolute;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background: linear-gradient(#2196f3, #31ff38);
    transform: translate(250px, 150px);
}

section  .box {
    position: relative;
    padding: 20px;
    min-width: 350px;
    min-height: 400px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(25px);
    z-index: 10;
}

section  .box  h3 {
    color: #fff;
    margin-bottom: 20px;
}

section .box .list {
    position: relative;
    display: flex;
    padding: 10px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
    overflow: hidden;
}

section .box .list:hover {
    background: #fff;
    box-shadow: -15px 30px 50px rgba(0, 0, 0, 0.5);
    transform: scale(1.15) translateX(30px) translateY(-15px);
    z-index: 1000;
}

section .box .list .imgBox {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 10px;
}

section .box .list .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section .box .list .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}

section .box .list .content .rank {
    position: absolute;
    right: -50px;
    color: #03a9f4;
    font-size: 2em;
    transition: 0.5s;
}

section .box .list .content .rank small {
    font-weight: 500;
    opacity: 0.25;
}

section .box .list:hover .content .rank {
    right: 20px;
}

section .box .list .content h4 {
    line-height: 1.2em;
    font-weight: 600;
    transition: 0.5;
}

section .box .list .content p {
    font-size: 0.75em;
    transition: 0.5;
}

section .box .list:hover .content h4,
section .box .list:hover .content p {
    color: #333;
}