body {
    background: black;
}

#canvas1 {
    border: 3px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 800px;
    height: 450px;
    transform: translate(-50%, -50%);
}